body{
    background:#0b1d51;
    color:white;
    font-family:Arial;
    text-align:center;
    margin-top:50px;
}

input, textarea{
    width:250px;
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.error{
    color:red;
    font-size:0.8rem;
    display:block;
    margin-top:4px;
}