body{
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.buttons{
  margin: 20px;
}

.filter-btn{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.active{
  background: orange;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item img{
  width: 300px;
  height: 200px;
}